
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# GHDL working directories
vhdl/waveforms
vhdl/work

# vunit working directory
vhdl/vunit_out

# Directory for temporary vivado project files
vivado/

# Logisim autosave file
logisim/*.autosave

# Verilog build and test files
verilog/*.out
verilog/waveforms
verilog/bin