
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# GHDL working directories
vhdl/waveforms
vhdl/work

# vunit working directory
vhdl/vunit_out

# Directory for temporary vivado project files
vivado/

# Logisim autosave file
logisim/*.autosave

# Verilog build and test files
src/*.out
src/waveforms
src/bin

# Folder for scratch files that should not be committed
local_only

# Ignores from the ttihp-verilog-template repo
.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
