[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
pytest = "*"
vunit-hdl = "*"
vsg = "*"

[dev-packages]

[requires]
python_version = "3.14"
# FIXME: Removee this section once vunit 5.0 is out. Needed to deal with GHDL on newer ubuntu versions

[pipenv]
allow_prereleases = true
